@use 'variables' as v;

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: v.$font;
	font-size: 1.6rem;
	background-color: v.$blueBg;
	color: v.$white;
	// line-height: 1.8;
}
p {
	color: v.$whiteP;
}

.container {
	width: 95%;
	max-width: 120rem;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img,
picture {
	width: 100%;
	display: block;
}
