@use 'variables' as v;

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: v.$font;
	font-size: 1.6rem;
	background-color: v.$blueBg;
	color: v.$white;
	// line-height: 1.8;
}
p {
	color: v.$whiteP;
	line-height: 1.8;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 2.5rem;
}

.blur {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(18, 31, 61, 0);
	backdrop-filter: blur(8px);
}

a {
	text-decoration: none;
}

img,
picture {
	width: 100%;
	display: block;
}
h1,
h2,
h3,
h4 {
	margin: 0;
}

h1 {
	font-size: 3.8rem;
}
h2 {
	font-size: 3.4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.6rem;
}
