@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

$font: 'Open Sans', sans-serif;

$tel: 480px;
$tablet: 768px;
$desktop: 1024px;
$maxDesktop: 1440px;

$white: #ffffff;
$whiteTitle: #becde3;
$whiteP: #eff3f8;
$whiteItem: #dbdbe2;
$blue: #33b1ff;
$blueBg: #121f3d;
$blueDark: #03091e;
