@use 'base/variables' as v;

.header {
	display: grid;
	position: fixed;
	width: 100vw;
	height: 10rem;
	// background-color: rgba(10, 25, 47, 0.85);
	// backdrop-filter: blur(10px);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	z-index: 100;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2.5rem;

		&__menu {
			&__btn {
				background-color: transparent;
				border: none;
				cursor: pointer;
				display: flex;
				padding: 0;

				svg {
					width: 5rem;
					z-index: 100;
				}

				&--line {
					fill: none;
					stroke: v.$white;
					stroke-width: 6;
					transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
				}

				&--line1 {
					stroke-dasharray: 60 207;
					stroke-width: 6;
				}

				&--line2 {
					stroke-dasharray: 60 60;
					stroke-width: 6;
				}

				&--line3 {
					stroke-dasharray: 60 207;
					stroke-width: 6;
				}

				.opened &--line1 {
					stroke-dasharray: 90 207;
					stroke-dashoffset: -134;
					stroke-width: 6;
				}

				.opened &--line2 {
					stroke-dasharray: 1 60;
					stroke-dashoffset: -30;
					stroke-width: 6;
				}

				.opened &--line3 {
					stroke-dasharray: 90 207;
					stroke-dashoffset: -134;
					stroke-width: 6;
				}
			}

			&__aside {
				display: grid;
				place-items: center;
				height: 100vh;
				width: 0;
				position: fixed;
				top: 0;
				right: 0;
				background-color: v.$blueDark;
				transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

				&.opened {
					width: min(75vw, 40rem);
				}

				&__nav {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 4rem;

					a {
						color: v.$whiteP;
					}

					&--resume {
						margin: 10% auto 0px;
						padding: 18px 50px;
						color: rgb(6, 147, 227);
						background-color: transparent;
						border: 2px solid rgb(6, 147, 227);
						border-radius: 2.375rem;
						font-size: 1.3rem;
						line-height: 1;
						text-decoration: none;
						cursor: pointer;
						transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
					}
				}
			}
		}
	}
}
.down,
.up {
	height: 70px;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.down {
	transform: translateY(calc(70px * -1));
}

.up {
	background-color: v.$blueBg;
	transform: translateY(0px);
	box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}
