@use 'base/variables' as v;

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	&__content {
		h4,
		h2 {
			margin-bottom: 2rem;
		}

		h2 {
			color: v.$whiteP;
		}

		h3 {
			color: v.$whiteTitle;
		}

		h4 {
			color: v.$blue;
			font-size: 1.6rem;
		}

		p {
			margin: 2rem 0 0 0;
			font-size: 1.4rem;
		}
	}

	&__btn {
		width: 15rem;
		margin-top: 5rem;
		padding: 1.25rem 1.75rem;
		text-align: center;
		color: rgb(6, 147, 227);
		background-color: transparent;
		border: 2px solid rgb(6, 147, 227);
		border-radius: 0.4rem;
		font-size: 1.3rem;
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}
}

@media (min-width: 768px) {
	.hero {
		&__content {
			h2,
			h3 {
				font-size: 6rem;
			}

			p {
				font-size: 2rem;
			}
		}

		&__btn {
			font-size: 1.6rem;
		}
	}
}
